DB_URL=jdbc:postgresql://aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
DB_USERNAME=postgres.fctqwiffnajktbyngpjb
DB_PASSWORD=replace_with_supabase_database_password
DB_DRIVER=org.postgresql.Driver

JWT_SECRET=change-this-secret-with-at-least-32-characters
JWT_EXPIRATION_MINUTES=1440

ADMIN_EMAIL=admin@kickrank.local
ADMIN_PASSWORD=Admin12345
